.input-text{


	height: 40px;
	width: 300px;
	border-color: black;
	border: 0;
}

.input-submit{
	background-image: url(../images/search-button.jpg);
	width: 40px;
	height: 40px;
	border: 0;
	float: right;
	cursor: pointer;

}
.input-submit:hover{
	background-image: url(../images/search-button2.jpg);
	width: 40px;
	height: 40px;
	border: 0;
	float: right;
	cursor: pointer;

}

#searchSquare{

	position: absolute;
	top: 230px;
	left: 600px;
	display: inline;

}

#search-text1{
	position: absolute;
	top: 180px;
	left: 680px;
	font-family:'LiDeBiao-Xing31260ab182a1d13c';
	font-size: 40px;
}