.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
/*----------------------------------------------------------------------------------------------------------------------*/
body, html {
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#top-bar{
	width: 100%;
    height:auto;
    top: 0%;
    padding: 0px;
    margin: 0px;
    background-color: white;
 }
   
#top-bar-pic1{
	width: 64px;
	position: absolute;
	top: 15px;
	left: 120px;
}

.part {
    display: inline-block;
}
.select {
    float: left;
    display: inline;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: verdana;
}
.selectul {
    text-align: center;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom:0px;
}
li a:hover {
    color:  #00BFFF;
}
.text1 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 10px;
}

#login-text{

    position: absolute;
	top: 23px;
	right: 3%;
	cursor: pointer;
}

.input-text{
	height: 40px;
	width: 250px;
	position: absolute;
	right:10%;
	border-color:#B3B3B3;
	border-radius:10px;

}

.input-submit{
	background-image: url(../images/index/search1.png);
	background-size:20px 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0;
	float: right;
	cursor: pointer;

}
.input-submit:hover{
	background-image: url(../images/index/search2.png);
	background-size:20px 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0;
	float: right;
	cursor: pointer;

}

#searchSquare{

	position: absolute;
	top: 15px;
	right: 10%;
	display: inline;

}

.search-text1{
	position: relative;
	top:24px;
	left: 200px;
	font-size: 30px;
}

.bar_item{


}

#bar_item1{
	position: absolute;
	left: 530px;
	top: 30px;
}

#bar_item2{
	position: absolute;
	left: 670px;
	top: 30px;
}

#bar_item3{
	position: absolute;
	left: 810px;
	top: 30px;
}

.bar_item_name{
	font-size: 20px;
}

.bar_item_name:hover{
	color: #00BFFF;
}